.about-more-wrapper{
    width:100%;
    height:100%;
}
.about-more{
    width:92%;
    height:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    max-width:1400px;
    padding-top:4rem;
    padding-top:6rem;
}
.about-more-image{
    overflow:hidden;
}
.about-more-content-wrapper{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content:center;
}
.about-more-content{
    color:var(--black);
}
.about-more-content-header{
    padding-bottom:1rem;
}
.about-more-content-main p{
    font-size:1.5rem;
    line-height:3rem;
}
.about-more-image{
    max-width:640px;
    max-height:640px;
    width:100%;
    height:100%;
}
.about-more-image img{
    width:100%;
    height:100%;
}