
.nav{
    width:92%;
    height:6rem;
    display:grid;
    grid-template-columns: 35% 65%;
    max-width:1400px;
}
.nav-header{
    display:flex;
    align-items: center;
    font-family:var(--secFont);
    font-size:1.8rem;
    color:var(--black);
}
.nav-links{
    display:grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
}
.nav-links-item{
    justify-content: center;
    font-family:var(--priFont);
    color:var(--black);
    display:flex;
    font-size:1.6rem;
}
.nav-links-item:last-child{
    justify-content: right;
}
.nav-links-item-contact{
    padding:.5rem 1rem;
    background:var(--purple);
    color:#fff;
    border-radius:10px;
}